.header {
    width: 100%;
    background-color: var(--body-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: all 0.5s ease;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__menu {
        @media screen and (max-width: 767px) {
            position: fixed;
            background-color: var(--container-color);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
            padding: 2.5rem 0;
            width: 90%;
            top: -100%; //  3rem
            left: 0;
            right: 0;
            margin: 0 auto;
            transition: 0.4s;
            border-radius: 2rem;
            z-index: var(--z-fixed);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.5rem;
    }

    &__link,
    &__toggle {
        color: var(--title-color);
        font-weight: var(--font-semi-bold);
    }
    &__logo {
        color: var(--first-color);
        font-weight: var(--font-bold);
        font-size: var(--h3-font-size);
    }
    &__toggle {
        font-size: 1.3rem;
        cursor: pointer;
    }
}

/*  Show Menu   */ 
.show-menu {
    top: calc(var(--header-height) + 1rem); //  4rem
}

.active-link {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: -0.75rem;
        left: 45%;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: var(--title-color);
    }
}

/* Change background header */
.scroll-header{
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
}